@model COMP2084_Assignment2_DmitryKnyazhevskiy.Models.CampSession

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CampSession</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maxCampers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maxCampers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberCampers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberCampers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.campSessionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
