@model IEnumerable<COMP2084_Assignment2_DmitryKnyazhevskiy.Models.CampSession>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maxCampers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberCampers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxCampers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberCampers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.campSessionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.campSessionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.campSessionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
